<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title> {{ title }} - Flask Webforms</title>
    {% else %}
        <title> Flask Webforms Demo</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css')}}">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
  </head>
  <body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('remi_properties') }}">
                    <h1>Remi Properties</h1>
                </a>
            </div>
                    {% if current_user.is_authenticated %}
                    <div class="row">
                        <div class="col-md-4">
                            <h1><a href=" {{ url_for('profile', username=current_user.username) }}">Profile</a></h1>
                        </div>
                        <div class="col-md-4">
                            <h1><a href=" {{ url_for('talk_to_agent')}}">Talk to Agent</a></h1>
                        </div>
                        <div class="col-md-4">
                            <h1><a href=" {{ url_for('logout')}}">Logout</a></h1>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <h1><a href=" {{ url_for('login')}}">Login</a></h1>
                        </div>
                    </div>
                    {% endif %}



        <hr>

        <div class="row text-center">
            <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                       {% for messages in messages %}
                          <div class="alert alert-info" role="alert">
                               {{ messages }}
                           </div>
                       {% endfor %}
                   {% endif %}
                {% endwith %}
            </div>
        </div>

        {% block content %}

        {% endblock %}

        {% block scripts %}
            {{ moment.include_moment() }}
        {% endblock %}
        
    </div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>
  </body>
</html>