{% extends "base.html" %}

{% block content %}
    
    <div class="row profile">
        <div class="col-md-5 text-center">
            <p>
                <img src="{{ user.avatar(120) }}" alt="User Avatar">
            </p>
        </div>
        <div class="col-md-7">
            <p>
                <b>Username: </b> {{ user.username }}
            </p>
            <p>
                <b>Email:</b> {{ user.email }}
            </p>
            {% if user.last_seen %}
            <p>
                <b>Last Seen: </b> {{ moment(user.last_seen).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
            {% endif %}
            {% if user.about_me %}
            <p>
                <b>About Me </b> {{ user.about_me }}
            </p>
            {% endif %}
            <p>
                <a href="{{ url_for('edit_profile') }}">Edit profile</a>
            </p>
            <p>
                <a href="{{ url_for('index') }}">Chat</a>
            </p>

        </div>
    </div>
    <hr>
{% endblock %}